#header {
    background-image: url(https://www.repro.eu/media/catalog/product/3/7/37861640.jpg);
    height: 725px;
}
#largeHeader {
    font-size: 125px;
}
#smallHeader {
    font-size: 65px;
}
h2{
    padding-top: 5%;
}
span{
    color:grey;
}
.breaking_bad{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
    margin-top: 10%;
    margin-bottom: 10%;
}
